[package]
name = "tuigreet"
version = "0.6.1"
authors = ["Antoine POPINEAU <antoine.popineau@appscho.com>"]
edition = "2018"
build = "build.rs"

[dependencies]
chrono = { version = "^0.4.19", features = ["unstable-locales"] }
getopts = "^0.2.21"
greetd_ipc = { git = "https://git.sr.ht/~kennylevinsen/greetd", features = ["tokio-codec"] }
i18n-embed = { version = "^0.12.1", features = ["desktop-requester", "fluent-system"] }
i18n-embed-fl = "^0.5.0"
lazy_static = "^1.4.0"
nix = "^0.21.0"
termion = "^1.5.6"
tui = "^0.15.0"
rust-embed = "^5.9.0"
rust-ini = "^0.17.0"
smart-default = "0.6.0"
system_shutdown = "^3.0.0"
textwrap = "^0.14.0"
tokio = { version = "1.2", default_features = false, features = ["macros", "rt-multi-thread", "net", "sync", "time"] }
unic-langid = "^0.9"
zeroize = "^1.3.0"

[profile.release]
lto = true
